/* make the customizations */
// $theme-colors: (
//   'info': tomato,
//   'danger': teal
// );

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

////////////////////////////
/// Category -> Questions

.categories-border {
  border: 3px solid $blue-100;
  border-radius: 3px;
}

.category-row {
  background-color: $blue-100;
  color: #fff;
}

.category-row-selected {
  background-color: $blue-200;
  color: #fff;
}

.category-row-title {
  background-color: $light;
  color: $blue-700;
  text-decoration: none;
}

.category-form {
  background-color: $blue-200;
  color: #ddd;
}

.category-form label {
  color: rgba(33, 37, 41, 0.75);
  font-size: 14px;
}


.question-row {
  background-color: $yellow-400;
  color: #fff;
}

.question-row-selected {
  background-color: $yellow-500;
  color: #fff;
}

.question-row-title {
  background-color: $yellow-400;
  color: $blue-700;
  text-decoration: none;
}

.question-form {
  background-color: $yellow-500;
  color: #ddd;
}

.question-form label {
  color: $yellow-800;
  font-size: 14px;
}

.related-filters {
  background-color: $indigo-100;
  color: #ddd;
}

.related-filter-row {
  background-color: $indigo-300;
  color: #ddd;
  font-size: 14px;

}

.related-filter-row .title {
  background-color: $indigo-200;
  color: #ddd;
  text-decoration: none;
}
////////////////////////////
/// Group -> Answers

.categories-border {
  border: 3px solid $blue-100;
  border-radius: 3px;
}

.group-row {
  background-color: $blue-100;
  color: #fff;
}

.group-row-selected {
  background-color: $blue-200;
  color: #fff;
}

.group-row-title {
  background-color: $light;
  color: $blue-700;
  text-decoration: none;
}

.group-form {
  background-color: $blue-200;
  color: #ddd;
}

.group-form label {
  color: rgba(33, 37, 41, 0.75);
  font-size: 14px;
}


.answer-row {
  background-color: $cyan-400;
  color: #fff;
}

.answer-row-selected {
  background-color: $cyan-500;
  color: #fff;
}

.answer-row-title {
  background-color: $cyan-400;
  color: $blue-700;
  text-decoration: none;
}

.answer-form {
  background-color: $cyan-500;
  color: #ddd;
}

.answer-form label {
  color: $cyan-800;
  font-size: 14px;
}