/* make the customizations */
// $theme-colors: (
//   'info': tomato,
//   'danger': teal
// );

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

////////////////////////////
/// Category -> Questions

.categories { color: $indigo-300; }
.questions { color: $yellow-500; }

.categories-border {
  border: 3px solid $indigo-100;
  border-radius: 3px;
}

.category-bg {
  background-color: $indigo-100 !important;
}

.category-row {
  background-color: $indigo-100;
  color: #fff;
}

.category-row-selected {
  background-color: $indigo-300;
  color: #fff;
}

.category-row-title {
   background-color: #eee;
  // background-color: $indigo-100;
  color: $indigo-700;
  text-decoration: none;
}

.category-spinner {
  color: $indigo-500
}

.category-form {
  background-color: $indigo-200;
  color: #ddd;
}

.category-form label {
  color: rgba(33, 37, 41, 0.75);
  font-size: 14px;
}

.question-row {
  background-color: $yellow-400;
  color: #fff;
  border: 1px solid $yellow-200;
  border-radius: 1px;
}

.question-row-selected {
  background-color: $yellow-500;
  color: #fff;
}

.question-row-title {
  background-color: $yellow-100;
  color: $gray-700;
  text-decoration: none;
}

.question-spinner {
  color: $yellow-500
}

.question-form {
  background-color: $yellow-500;
  color: #ddd;
}

.question-form label {
  color: $indigo-700;
  font-size: 14px;
}

.related-filters {
  background-color: $blue-100;
  color: #ddd;
}

.related-filter-row {
  background-color: $blue-300;
  color: #ddd;
  font-size: 14px;

}

.related-filter-row .title {
  background-color: $blue-200;
  color: #ddd;
  text-decoration: none;
}


////////////////////////////
/// Group -> Answers

.groups { color: $teal-300; }
.answers { color: $cyan-500; }

.groups-border {
  border: 3px solid $teal-200;
  border-radius: 3px;
}

.group-bg {
  background-color: $teal-200 !important;
}

.group-row {
  background-color: $teal-200;
  color: #fff;
}

.group-row-selected {
  background-color: $teal-400;
  color: #fff;
}

.group-row-title {
   background-color: $teal-100;
  // background-color: $teal-100;
  color: $teal-700;
  text-decoration: none;
}

.group-spinner {
  color: $teal-500
}

.group-form {
  background-color: $teal-200;
  color: #ddd;
}

.group-form label {
  color: rgba(33, 37, 41, 0.75);
  font-size: 14px;
}

.answer-row {
  background-color: $cyan-400;
  color: #fff;
  border: 1px solid $cyan-200;
  border-radius: 1px;
}

.answer-row-selected {
  background-color: $cyan-500;
  color: #fff;
}

.answer-row-title {
  background-color: $cyan-100;
  color: $gray-700;
  text-decoration: none;
}

.answer-spinner {
  color: $cyan-500
}

.answer-form {
  background-color: $cyan-500;
  color: #ddd;
}

.answer-form label {
  color: $teal-700;
  font-size: 14px;
}
 